:root
{
    --resizerSize: 8px;
}

html, body
{
    height: 100%;
    margin: 0;
    padding: 0;

    overflow: hidden;
}

#mainBody
{
    display: flex;
}

#tabs
{
    width: 100%;
    height: 5%;
    position: fixed;
    top: 0;
}

#content
{
    width: 100%;
    height: 95%;
    position: fixed;
    left: 0;
    top: 5%;
}

.tabLink
{
    background-color: #555;
    color: white;
    float: left;
    font-size: 17px;
    width: 20%;
    height: 100%;
}

.tabLink:hover
{
    background-color: grey;
}

.tabContent
{
    color: rgb(0, 0, 0);
    display: none;
}

#mapContainer
{
    height: 100%;
    width: 100%;
    display: flex;
}

#map, #visibility, #test
{
    flex: 1;
    border: solid green;
    padding: 10px;
}

/*
.resizer[data-direction='horizontal'], .resizer[data-direction='vertical']
{
    background-color: #cbd5e0;
}

.resizer[data-direction='horizontal']
{
    cursor: ew-resize;
    height: 100%;
    width: var(--resizerSize);
}

.resizer[data-direction='vertical']
{
    cursor: ns-resize;
    height: var(--resizerSize);
    width: 100%;
}

.container-left
{
    height: 100%;
    width: 50%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.container-right
{
    flex: 1;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-top
{
    overflow: hidden;
    align-items: center;
    display: flex;
    justify-content: center;
}

.container-bottom
{
    flex: 1;
    align-items: center;
    display: flex;
    justify-content: center;
} */