#tabs
{
    width: 100%;
    height: 5%;
    position: fixed;
    top: 0;
}

.tabLink
{
    background-color: #555;
    color: white;
    float: left;
    font-size: 17px;
    width: 20%;
    height: 100%;
}

.tabLink:hover
{
    background-color: grey;
}

.tabContent
{
    color: rgb(0, 0, 0);
    display: none;
}